*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --bg-color: linear-gradient(to right bottom,#16165af1, #800080d1); 
    --accent-color: orangered;
    --app-bg-color: white;
    --input-box-color:  #e1dede;
}

body{
    background-image: var(--bg-color);
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-app{
    max-width: 800px;
    width: 100%;
    background-color: var(--app-bg-color);
    padding: 15px;
    border-radius: 18px;
}

.todo-containter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--input-box-color);
    border-radius: 30px;
    margin-top: 20px;
}

.todo-input-box{
    width: 100%;
    padding: 18px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2em;
    background-color: transparent;
}

.add-todo-btn{
    min-width: 80px;
    max-width: 200px;
    width: 100%;
    padding: 20px;
    background-color: var(--accent-color);
    color: var(--app-bg-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.todo-list-container{
    max-width: 800px;
    width: 100%;
}

.todo-list{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    padding: 10px;
    margin: 5px 0;
    align-items: center;
}

input[type="checkbox"]{
    appearance: none;
    height: 22px;
    width: 22px;
    border: 2.3px solid #d2d0d0ff;
    border-radius: 50%;
    cursor: pointer;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]::before{
    content: '';
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform:rotate(45deg) scale(0);
    transition: 120ms transform ease-in-out;
    margin-top: -2px;
}

input[type="checkbox"]:checked::before{
    transform:rotate(45deg) scale(1);
}

input[type="checkbox"]:checked{
    background-color: var(--accent-color);
}

.todo-list .todo{
    font-size: 1.2em;
}

.todo-list img{
    height: 20px;
}

.complete{
    text-decoration: line-through;
    color: #616161;
}

@media((min-width:343px) and (max-width: 455px)){
    .todo-app{
        margin: 0 10px;
    }
    h1{
        font-size: 1.2em;
    }
    .todo-containter .todo-input-box{
        font-size: 0.8em;
        padding: 14px;
    }
    .add-todo-btn{
        padding: 14px;
    }
    .todo-list{
        padding: 5px;
    }
    .todo-list .todo{
        font-size: 0.9em;
    }
    .todo-list img{
        height: 14px;
    }
}